body{background-color: #fff}
h1, h2, h3, h4, h5, h6{
	font-family: ceorgia;
}
h1{
	font-size: 34px;
	color: #000;
}
h1.white{
	font-size: 34px;
	color: #fff;
}
p.al-text{
	font-family: ceorgia;
	font-size: 14px;
	font-weight: bold;
}
p.text-white{
	font-family: ceorgia;
	font-size: 14px;
	font-weight: 400;
	background-color: #000;
	color: #fff;
}
p.form{
	background-color: #000;
	font-size: 14px;
	font-family: Myriad Pro;
	color: #fff;
}
p.desc{
  color:#000;
}
.btn-lg {
  display: inline-block;
  padding: 15px 35px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.btn-lg:active {
  display: inline-block;
  padding: 15px 35px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
.btn-sm {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
}
.btn-black {
  color: #fff;
  background-color: #231f20;
  border-color: #202020;
}
.img-thumbnail{
  height: 200px !important;
}
.big-img{
  height: 350px !important;
}
.wrapper-text{
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin-bottom: 20px;
}
.wrapper-title{
  width: 100%;
  height: 50px;
  overflow: hidden;
  margin-bottom: 20px;
}
.description-img-magup{
  color:#000;
}
.download {
    border-style: dashed;
    height: 100px;
    width: 100px;
}
