ul.navbar-nav{
    margin-left: 25%;
}
.column {
    float: left;
    width: 25%;
    padding: 0px 0em;
    min-height: auto;
    position: relative;
}

/*.sb-search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 100%;
  height: 40px;
  margin: 0;
  z-index: 10;
  padding: 20px 65px 20px 20px;
  font-family: inherit;
  font-size: 20px;
  color: #000000;
}*/
.navbar {
    border-radius: 0px;
}
div.container-fluid .navbar-header a{
    font-family: ceorgia;
    font-size: 34px;
    margin-left: 20%;
}
.navbar-brand {
    margin-left: 10px;
}
a{
  font-family: ceorgia;
  font-size: 14px;
}