<template name="edituser"> 
    <div class="container"> 
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Edit Users</h1>
            </div>
        </div>    
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Edit User
                            <a href="/manageuser" class="pull-right"><button class="btn-black">Back</button></a>
                        </div>

                        <div class="panel-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>username</label>
                                    <input class="form-control" name="username" id="username" value="{{profile.username}}">
                                
                                </div> 
                                {{#each emails}}
                                <div class="form-group">
                                    <label>Email</label>
                                    
                                    <input class="form-control" name="email" id="email" value="{{address}}">
                                    
                                </div> 
                                {{/each}}
                                <div class="form-group">
                                     <label>Permission</label>
                                    <select name="language" id="mySelect" class="form-control">
                                        <option value="{{name}}" style="display:none">{{position roles}}</option>
                                        {{#each displayuser}}
                                             <option value="{{name}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div> 
                                <button type="submit" id="edituser" class="btn btn-default btn-black">Edit User</button>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
</template>